$black: #000000;
$theme-color: #FF8D00;
$theme-color-hover: #D97800;
$light-color: #F6F6F6;
$light-gray: #EFEFEF;
$medium-gray: #C6C5C5;
$medium-gray-2: #CECDCD;
$normal-gray: #646569;
$dark-gray: #27282B;
$white: #fff;
